img {
	
	margin: 5px;
	
	padding: 5px;
	
}

.text {
	font-size: 10vw;
	
	color:#9cc;	
}

body{
	
	background:black;
	
	color: white;
}

figure {
	
	text-align: center;

}

.section{
	
	margin:1px;
	
}